name: Unzip Folder

on:
  workflow_dispatch: # Allows manual triggering

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Unzip file
        run: unzip archive.zip -d unzipped_folder

      - name: List unzipped contents
        run: ls -l unzipped_folder
